.default-color0.chart-bar { -fx-bar-fill: rgba(244, 67, 54, 0.8); }
.default-color1.chart-bar { -fx-bar-fill: rgba(233, 30, 99, 0.8); }
.default-color2.chart-bar { -fx-bar-fill: rgba(156, 39, 176, 0.8); }
.default-color3.chart-bar { -fx-bar-fill: rgba(103, 58, 183, 0.8); }
.default-color4.chart-bar { -fx-bar-fill: rgba(63, 81, 181, 0.8); }
.default-color5.chart-bar { -fx-bar-fill: rgba(33, 150, 243, 0.8); }
.default-color6.chart-bar { -fx-bar-fill: rgba(3, 169, 244, 0.8); }
.default-color7.chart-bar { -fx-bar-fill: rgba(0, 188, 212, 0.8); }
.default-color8.chart-bar { -fx-bar-fill: rgba(0, 150, 136, 0.8); }
.default-color9.chart-bar { -fx-bar-fill: rgba(76, 175, 80, 0.8); }
.default-color10.chart-bar { -fx-bar-fill: rgba(139, 195, 74, 0.8); }
.default-color11.chart-bar { -fx-bar-fill: rgba(205, 220, 57, 0.8); }
.default-color12.chart-bar { -fx-bar-fill: rgba(255, 235, 59, 0.8); }
.default-color13.chart-bar { -fx-bar-fill: rgba(255, 193, 7, 0.8); }
.default-color14.chart-bar { -fx-bar-fill: rgba(255, 152, 0, 0.8); }
.default-color15.chart-bar { -fx-bar-fill: rgba(255, 87, 34, 0.8); }
.default-color16.chart-bar { -fx-bar-fill: rgba(121, 85, 72, 0.8); }
.default-color17.chart-bar { -fx-bar-fill: rgba(158, 158, 158, 0.8); }
.default-color18.chart-bar { -fx-bar-fill: rgba(96, 125, 139, 0.8); }
.default-color19.chart-bar { -fx-bar-fill: rgba(255, 99, 132, 0.8); }
.default-color20.chart-bar { -fx-bar-fill: rgba(255, 159, 64, 0.8); }
.default-color21.chart-bar { -fx-bar-fill: rgba(255, 205, 86, 0.8); }
.default-color22.chart-bar { -fx-bar-fill: rgba(75, 192, 192, 0.8); }
.default-color23.chart-bar { -fx-bar-fill: rgba(54, 162, 235, 0.8); }
.default-color24.chart-bar { -fx-bar-fill: rgba(153, 102, 255, 0.8); }
.default-color25.chart-bar { -fx-bar-fill: rgba(201, 203, 207, 0.8); }
.default-color26.chart-bar { -fx-bar-fill: rgba(0, 121, 107, 0.8); }
.default-color27.chart-bar { -fx-bar-fill: rgba(104, 159, 56, 0.8); }
.default-color28.chart-bar { -fx-bar-fill: rgba(124, 77, 255, 0.8); }
.default-color29.chart-bar { -fx-bar-fill: rgba(0, 131, 143, 0.8); }
.default-color30.chart-bar { -fx-bar-fill: rgba(179, 157, 219, 0.8); }
.default-color31.chart-bar { -fx-bar-fill: rgba(100, 181, 246, 0.8); }
.default-color32.chart-bar { -fx-bar-fill: rgba(255, 138, 101, 0.8); }
.default-color33.chart-bar { -fx-bar-fill: rgba(255, 241, 118, 0.8); }
.default-color34.chart-bar { -fx-bar-fill: rgba(174, 213, 129, 0.8); }
.default-color35.chart-bar { -fx-bar-fill: rgba(128, 222, 234, 0.8); }
.default-color36.chart-bar { -fx-bar-fill: rgba(77, 182, 172, 0.8); }
.default-color37.chart-bar { -fx-bar-fill: rgba(255, 112, 67, 0.8); }
.default-color38.chart-bar { -fx-bar-fill: rgba(161, 136, 127, 0.8); }
.default-color39.chart-bar { -fx-bar-fill: rgba(189, 189, 189, 0.8); }
